<div style={{rentalsColumnStyle}} class="rentals">
  <div class="rental"></div>
  {{#each rentals as |rental|}}
    
    <div class="rental">
      {{rental.name}} <br>
      {{rental.dailyRate}} <small>eur / night</small>
    </div>
  {{/each}}
</div>
<div class="calendar-wrap">
  <div class="calendar-inner">
    <div class="top-row">
      <div class="day-cell"></div>
      {{#each columnDates as |date|}}
        <div class="day-cell"> <b>{{moment-format date "D. MM."}}</b> </div>
      {{/each}}
    </div>
    
  
    <div class="bookings">
      {{#each rentals as |rental|}}
        {{#each rental.bookings as |booking|}}
          {{booking-item
            startAt=booking.startAt
            endAt=booking.endAt
            email=booking.clientEmail
            price=booking.price
            rental=rental
            rentalIndex=(index-of rentals rental)
            minDate=columnDates.firstObject
            maxDate=columnDates.lastObject
            nightsLength=booking.nightsLength
            onClick=(action onBookingItemClick booking)
          }}
        {{/each}}
      {{/each}}
    </div>
  </div>
</div>
