<div class="new-booking-form ui segment">

   <div class="ui statistics">
   {{#if (gt newBookingDaysLength 0)}}
    <div class="statistic">
      <div class="value">
        {{newBookingDaysLength}}
      </div>
      <div class="label">
        days
      </div>
    </div>
    {{/if}}
    {{#if newBookingPrice}}
      <div class="statistic">
        <div class="value">
         <i class="euro icon"></i> {{newBookingPrice}}
        </div>
        <div class="label">
        </div>
      </div>
    {{/if}}
  </div>

  <form {{action "submit" on="submit"}} class="ui form">

    {{#if (or newBookingChangeset.isInvalid serverErrors.length)}}
      <div class="ui error message">
        <ul>

        {{#each serverErrors as |error|}}
          <li>{{error.description}}</li>
        {{/each}}

        {{#each newBookingChangeset.errors as |error|}}
          {{#each error.validation as |message|}}
            <li>{{message}}</li>
          {{/each}}
        {{/each}}
        </ul>
      </div>
    {{/if}}

    <div class="field">
      <label>Email</label>
      {{input class="email" type="email" value=newBookingChangeset.clientEmail}}
    </div>
    <div class="two fields">
      <div class="field">
        <label>From</label>
        {{date-picker
          selected=newBookingChangeset.startAt
          onSelect=(action (mut newBookingChangeset.startAt) value="date")
          inputClass="startAt"}}
      </div>
      <div class="field">
        <label>To</label>
        {{date-picker
          selected=newBookingChangeset.endAt
          onSelect=(action (mut newBookingChangeset.endAt) value="date")
          inputClass="endAt"}}
      </div>
    </div>
    <div class="field">
      <label>Rental</label>
      {{#power-select
        onchange=(action (mut newBookingChangeset.rental))
        selected=newBookingChangeset.rental
        searchField="name"
        options=rentals as |rental|}}
        {{rental.name}} ({{rental.dailyRate}} EUR / day)
      {{/power-select}}
    </div>
    <div class="field">
      <button class="ui green button" type="submit">Book reservation</button>
    </div>
  </form>
</div>