<div class="new-booking-form ui segment">

    <h2 class="ui header">Add booking</h2>

   <div class="ui statistics">
    <div class="statistic">
      {{#if (gt newBookingnightsLength 0)}}
      <div class="value">
        {{newBookingnightsLength}}
      </div>
      <div class="label">
        nights
      </div>
      {{/if}}
    </div>
    {{#if (or newBookingChangeset.price newBookingPrice)}}
      <div class="statistic">
        <div class="value">
         <i class="euro icon"></i> {{newBookingPrice}}
        </div>
        <div class="label">
        </div>
      </div>
    {{/if}}
  </div>

  <form {{action "submit" on="submit"}} class="ui form">

    {{#if (or newBookingChangeset.isInvalid serverErrors.length)}}
      <div class="ui error message">
        <ul>

        {{#each serverErrors as |error|}}
          <li>{{error.description}}</li>
        {{/each}}

        {{#each newBookingChangeset.errors as |error|}}
          {{#each error.validation as |message|}}
            <li>{{message}}</li>
          {{/each}}
        {{/each}}
        </ul>
      </div>
    {{/if}}

    <div class="field">
      <label>Email</label>
      {{input class="email" type="email" value=newBookingChangeset.clientEmail}}
    </div>
    <div class="two fields">
      <div class="field">
        <label>From</label>
        {{date-picker
          selected=newBookingChangeset.startAt
          onSelect=(action (mut newBookingChangeset.startAt) value="date")
          inputClass="startAt"}}
      </div>
      <div class="field">
        <label>To</label>
        {{date-picker
          selected=newBookingChangeset.endAt
          onSelect=(action (mut newBookingChangeset.endAt) value="date")
          inputClass="endAt"}}
      </div>
    </div>
    <div class="field">
      <label>Rental</label>
      {{#power-select
        onchange=(action (mut newBookingChangeset.rental))
        selected=newBookingChangeset.rental
        searchField="name"
        options=rentals as |rental|}}
        {{rental.name}} ({{rental.dailyRate}} EUR / night)
      {{/power-select}}
    </div>
    <div class="field">
      <button data-save-button class="ui green button" type="submit">{{buttonLabel}}</button>
    </div>
  </form>

  {{yield}}
</div>